/* 
.agentDashboard {
    width: 22.5px;
    height: 20px;
  }
  .sidebar {
    background: #f6faff;
    height: 100vh;
  }
  .content {
    background: #f6faff;
  }
  .search {
    border-radius: 18px;
  }
  .icon {
    font-size: 20px;
  }
  .card {
    height: 20vh;
  }
  .user {
    font-size: 24px;
  }
  .myCard {
    height: fit-content;
  }
   */