.speedDialImage{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.speedDial{
    position: fixed;
    right: 8rem;
    top: 8rem;
}
.speedDial.active{
    top: 5rem;
}
.speedDialIcon{
    margin-left: 0.6rem;
}