.search-container {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    position: relative;
  }
  .search-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black; /* color of the dark overlay */
    opacity: 0.5; /* opacity of the dark overlay */
  }
  .searchContent {
    position: absolute;
    z-index: 1;
    top: 25%;
    left: auto;
  }
  
  .searchContent h1{
    font-weight: 900;
    color: #fff;
  }
  .searchContent h3{
    font-weight: 600;
    color: #fff;
  }
  .searchForm{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.searchInput{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.searchForm:hover{
    width: 300px;
    cursor: pointer;
}

.searchForm:hover .searchInput{
    display: block;
}

.searchForm:hover .fa{
    background: #07051a;
    color: white;
}
  