.imgCard{
    height: 25vh;
    background-size: cover;
}
.rentBtn{
    border:none;
    background-color:#5b21b6d9;
    color:white;
    width:100px;
    border-radius: 6px;
}
.build{
    transform: translateY(-600px);
    background-color: bisque;
    border-radius: 4px;
}
.myCol{
    transform: translateY(65px);
}
.location{
    font-size:10px;
    color:darkgray;
    font-weight: 700;
}