ul.pagination{
    display: flex;
    align-items: center;
    padding: 0;
}
.page-item{
    background-color: rgba(255, 255, 255, 0.135);
    list-style: none;
    border: 1px solid rgba(0,0,0,0.178);
    padding: 1vmax 1.5vmax;
    transition: all 0.3s;
    cursor: pointer;
}
.page-item:first-child{
    border-radius: 5px 0 0 5px;
} 
.page-item:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

} 
.page-link{
    font: 300 0.7vmax "Roboto";
    color: rgb(80,80,80);
    transition: all 0.3s;
}
.page-item:hover{
    background-color: rgb(230,230,230);
}
.page-item:hover .page-link{
    color: rgb(37, 37, 37);
}
.pageItemActive{
    background-color: #197EF3;
}
.pageLinkActive{
    color: white;
}
li.category-link{
    list-style: none;
    font-family: Roboto;
    cursor: pointer;
    border-top: 1px solid #999;
    padding: 10px 10px;
}



h2 {
    text-align: center;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 20vmax;
    font-size: 1.4vmax;
    font-family: Poppins, sans-serif;
    margin: 3vmax auto;
    color: rgb(0, 0, 0, 0.7);
  }
  
  .sidebar__product {
    display: flex;
    flex: 1;
  }
  
  .sidebar__products {
    border: 1px solid #999;
    margin: 1vmax;
    flex: 0.177;
  }
  
  .categoryBox {
    box-sizing: inherit;
  }
  
  .category-link {
    cursor: pointer;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0.9;
  }
  
  .pagination__box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6vmax;
  }
  
  .page-item {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .page-link {
    display: inline-block;
    padding: 5px 10px;
    color: #666;
    border: 1px solid #ccc;
  }
  
  .pageItemActive .page-link {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  
  .pageLinkActive {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
  