/* /* *{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}
body{
  font-family: "Poppins,sans-serif";
}
Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* input[type="number"] {
  -moz-appearance: textfield;
}
iframe {
  z-index: 0!important;
  display: none!important;
}
.greenColor {
  color: green !important;
}
.redColor {
  color: red !important;
}
.black{
  color: #000;
}
h1,h2,h3,h4,h5,h6,span,p,strong{
  font-family: sans-serif;
}
div {overflow: hidden;}
h6{
  font-size: 15px;
}
.space__beetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.pxy__10{
  padding: 10px;
}
.flex{
  display: flex;
}
.align__items__center{
  align-items: center;
}
.pointer{
  cursor: pointer;
}
.red{
  color: red;
}
.pxz__20{
  margin: 0px 15px;
}
.relative{
  position: relative;
  overflow: visible!important;
}
.rightOption.flex.align__items__center {
  overflow: visible!important;
}
li{
  padding: 0px 15px;
  color: #000;
  font-weight: 600;
}
.space__around{
  justify-content: space-around;
}
.justify__content__center{
  justify-content: center;
}
.icon__color{
  color: #3BB77E;
}
strong{
  padding: 0px 10px;
  transition: .4s all ease;
  cursor: pointer;
}
strong:hover{
  color: teal;
}
h6{
  font-weight: 600;
  opacity: .7;
}
.py__10{
  padding: 7px 0px;
}
.Description {
  flex-direction: column;
  align-items: flex-start!important;
}
.para{
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0px;
  line-height: 1.5!important;
}
h1{
  opacity: .7;
  font-size: 2vmax;
}
h5{
  font-size: 1.8vmax;
  padding: 8px 10px;
}
h3{
  font-weight: 600;
  opacity: 1;
  font-size: 1.3vmax;
  padding: 8px 10px;
  color: #000;
  transition: .4s all ease;
}
h3:hover{
  color: teal;
  cursor: pointer;
}
.pz__15{
  padding: 15px 0px;
}
.pz__10{
  padding: 10px 0px;
}
.cursive{
  font-family: cursive;
}
.Header {
  border-bottom: 1px solid #1223;
}
.mobile {
  display: flex;
}
.reviewIcon{
  min-width: 110px;
}
label.MuiFormControlLabel-root {
  animation: none;
  border: none;
}

label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated {
  animation: none;
  border: none;
}
.navbar.flex.pz__10{
  transition: .4s all;
  overflow: visible!important;
}
.cart__items.flex.align__items__center {
  overflow: visible!important;
}
.bottomOption > a > div {
  overflow: visible!important;
}
.Description p{
  text-align: start;
}
.navbar.flex.pz__10.active{
  position: fixed;
  background-color: #fff;
  z-index: 100;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
  left: 0;
  padding: 1.2vmax 0;
}
.dashboard{
  overflow: visible!important;
}
label.MuiRating-label {
  margin-top: .5vmax;
  animation: none;
  border: none;
  width: unset;
  height: unset;
}
.MuiRating-root{
  color: tomato!important;
}
.MuiRating-root{
  font-size: 1.2rem!important;
}
.CarouselItem{
  width: 100%;
  overflow: hidden;
}
.dasboard__mobile{
  display: none;
}
@media only screen and (max-width: 768px) {
  .Header{
    display: none;
  }
  .dashboard{
    display: none!important;
  }
  .dasboard__mobile{
    display: inline!important;
  }
  .offerPriceBox{
    overflow: visible!important;
  }
  .ProductDetails{
    padding: 0px 1vmax!important;
  }
  .cartInput{
    overflow: visible!important;
  }
  .FavouriteItemsCard>div{
    overflow: visible!important;
  }
  .FavouriteItemsCard>div>a{
    font-family: sans-serif!important;
  }
  h1.discountPrice {
    font-size: 1.2vmax!important;
    color: #777!important;
    margin-left: 5%!important;
    font-weight: 600!important;
  }
  h2.jhamela {
    display: none!important;
  }
  span.freeOne {
    display: none !important;
  }
  .home__content > div > h2 {
    display: none!important;
  }
  button.Home__button {
    height: 7vmax!important;
    width: 20vmax!important;
  }
  .ProductCard{
    height: unset!important;
  }
  .Toastify__toast-container{
    bottom:14%!important;
  }
  .paymentContainer{
    height: max-content!important;
  }
  .banner{
    background: transparent!important;
  }
  img.bgImg{
    height: 40vmax!important;
  }
  .banner, .bgImg{
    height: unset!important;
  }
  .Footer.flex.space__around.pz__15 {
    flex-direction: column;
    align-items: center;
    margin-bottom: 8vmax;
  }
  ion-grid {
    min-height: 100%!important;
  }
  .mobile{
    display: flex;
  }
} */

/* 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
.container {
    max-width: 80%;
  }
  a {
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
  }
  ul {
    list-style-type: none;
  }
  button {
    border-radius: 5px;
    padding: 10px 15px;
    background: #6d28d9;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
  }
  button i {
    margin-right: 5px;
  }
  .heading {
    text-align: center;
    width: 60%;
    margin: auto;
  }
  .heading h1 {
    color: #2d3954;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 35px;
  }
  .heading p {
    color: #72809d;
  }
  textarea,
  input {
    border: none;
    outline: none;
    background: none;
  }
  .background {
    padding: 80px 0;
    position: relative;
    background: #f7f9fc;
  }
  
  .grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
  }
  label {
    color: #2d3954;
    font-size: 14px;
  }
  .mtop {
    margin-top: 50px;
  }
  h4 {
    font-weight: 500;
    margin-top: 10px;
  }
  .shadow {
    box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  }
  .padding {
    padding: 80px 0;
  }
  .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .btn2 {
    border-radius: 10px;
    font-size: 15px;
    padding: 8px 10px;
  }
  .grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }
  .btn3 {
    background: #ff6922;
    border-radius: 50px;
  }
  .btn4 {
    background-color: #000;
    color: #fff;
  }
  .btn5 {
    border-radius: 50px;
    padding: 20px 40px;
    color: #27ae60;
    font-size: 20px;
    font-weight: 400;
    border: 5px solid #27ae601f;
    background: #fff;
  }
  .back {
    height: 40vh;
    position: relative;
  }
  .back img {
    height: 40vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }
  .back::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background: rgba(17, 40, 72, 0.629);
    z-index: -1;
  }
  .back .container {
    color: #fff;
    padding: 120px 0;
  }
  .back h1 {
    font-size: 40px;
    font-weight: 500;
  }
  .mb {
    margin-bottom: 80px;
  }
  @media screen and (max-width: 800px) {
    .grid4,
    .grid3,
    .grid5 {
      grid-template-columns: repeat(2, 1fr);
    }
    .heading {
      width: 100%;
    }
    .container {
      max-width: 90%;
    }
    .back::after,
    .back img,
    .back {
      height: 30vh;
    }
  } */
    .logIn{
      background-color: #6B7280;
      color: #fff;
      padding: 1rem 0.75rem;
      border-radius: 0.5rem;
    }